# Backend
myecomm-backend/target/
myecomm-backend/.idea/
myecomm-backend/*.iml
myecomm-backend/images/

# Frontend
Ecom-Frontend/vite-reactEcomfrontend/node_modules/
Ecom-Frontend/vite-reactEcomfrontend/dist/
Ecom-Frontend/vite-reactEcomfrontend/.env

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.idea/
.vscode/
*.iml
